@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Name">P:</abbr>
    Salim Akhayad
    <abbr title="Phone">P:</abbr>
    +32 488/899.794
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Salim.Akhayad@hotmail.com</a><br />
</address>
