@model MyMedia.Models.Playlist.PlayListIndexViewModel

    <tr>
        <td>
            <div class="hit-the-floor">
                <h4>@Model.Naam</h4>
            </div>
        </td>
        <td>
            <a asp-action="Details" asp-controller="PlayList" asp-route-id="@Model.Id"> Details</a> |
            <a asp-action="Share" asp-controller="Media" asp-route-id="@Model.Id"> Share PlayList </a>
        </td>

    </tr>