@model MyMedia.Models.Playlist.PlayListCreateViewModel
@using MyMedia.Core.Enums

<div class="container">

    <h2>Playlist <i class="fas fa-angle-double-right"></i> Create</h2>
    <div class="row col-9">
        <form enctype="multipart/form-data" asp-controller="PlayList" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Naam">Naam</label>
                @Html.TextBoxFor(x => x.Naam)
            </div>

            <button class="btn btn-warning" type="submit">Create Playlist</button>
        </form>
    </div>
</div>
