<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MyMedia</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/7fe9b87aa2.js" crossorigin="anonymous"></script>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/MovieTime.js"></script>
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/js/MovieTime.js"></script>
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        </environment>

        @RenderSection("Scripts", required: false)
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>


    <!--<partial name="_CookieConsentPartial" />-->

    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
        <div style="height:95vh;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MyMedia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Claims.Any())
                {
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active">Welcome back @User.Claims.AsQueryable().ElementAt(1).Value! <span class="sr-only"></span></a>
                        </div>
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" asp-controller="PlayLists" asp-action="Index">My Playlists <i class="fas fa-caret-down"></i> <span class="sr-only"></span></a>
                        </div>
                    </div>
                }

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" asp-controller="Media" asp-action="Index"> Approve Media <i class="fas fa-check-circle"></i> <span class="sr-only"></span></a>
                    </div>
                </div>
                <div class="justify-content-end col-1">
                    <a class="navbar-brand" asp-controller="Home" asp-action="About">Claims</a>
                </div>
                <div class="justify-content-end col-2">
                    @if (!User.Claims.Any())
                    {
                        <a class="navbar-brand" asp-controller="Home" asp-action="Login">Login</a>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Register">Register</a>
                    }
                    else
                    {
                        <a class="navbar-brand" asp-controller="Home" asp-action="Logout">Log out</a>
                    }
                </div>
            </nav>
            <div class="mt-5">
                @RenderBody()
            </div>


        </div>
    </div>

</body>
</html>
