@model MyMedia.Models.Series.SerieDeleteViewModel
@using Microsoft.AspNetCore.Identity;
@using MyMedia.Core.User;
@inject SignInManager<Profiel> SignInManager
@inject UserManager<Profiel> UserManager
<div class="container">

    <h2>Serie <i class="fas fa-angle-double-right"></i>Delete</h2><i class="fas fa-angle-double-right"></i>@Model.Naam
    <hr />
    <div>
        <form enctype="multipart/form-data" asp-route-id="@Model.Id" asp-controller="Serie" asp-action="ConfirmDelete" method="post">
            <b> Weet je zeker dat je <b>@Model.Naam</b> Wilt verwijderen?</b>
            <button class="btn btn-primary" type="submit">Verwijder Serie</button>
        </form>
    </div>
    <!--Test Alle Func Media, nadien ppt bouw UML -->

</div>



