@model List<MyMedia.Models.Series.SerieListViewModel>
@using Microsoft.AspNetCore.Identity
@using MyMedia.Core.User;
@inject SignInManager<Profiel> SignInManager
@inject UserManager<Profiel> UserManager
<div class="container">
    <h2>Serie <i class="fas fa-angle-double-right"></i>Index</h2>
    <hr />

    @if (Model != null && Model.Any())
    {
        foreach (var serie in Model)
        {
            <div class="form-group">
            
                <div class="media">
                    @if (serie.Foto != null)
                    {
                        <img style="width: 300px; height: 120px;" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(serie.Foto))" alt="Serie Img" class="img-thumbnail" target="_blank" />
                    }
                    <div class="media-body">
                        <h5 class="mt-0">@serie.Naam</h5>
                    </div>
                </div>
            
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Currently no Serie for display.
        </div>

    }
    <div class="row justify-content-end">
        <a asp-action="Create" class="btn btn-primary" asp-controller="Serie">Add Serie</a>
    </div>


</div>



