@model MyMedia.Models.Podcast.PodcastDeleteViewModel
@using Microsoft.AspNetCore.Identity;
@using MyMedia.Core.User;
@inject SignInManager<Profiel> SignInManager
@inject UserManager<Profiel> UserManager


<div class="container">

    <h2>Podcast <i class="fas fa-angle-double-right"></i>Delete</h2><i class="fas fa-angle-double-right"></i>@Model.Naam
    <hr />
    <div class="row col-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>

            </dt>
            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>
        </dl>

        <form enctype="multipart/form-data" asp-controller="Muziek" asp-action="Delete" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>
