@model IEnumerable<MyMedia.Models.Podcast.PodcastListViewModel>
@using Microsoft.AspNetCore.Identity;
@using MyMedia.Core.User;
@inject SignInManager<Profiel> SignInManager
@inject UserManager<Profiel> UserManager
<p>
</p>
<div class="container">
    <h2>Podcast <i class="fas fa-angle-double-right"></i>Index</h2>
    <hr />

    @if (Model.Any() && Model != null)
    {
        @foreach (var podcast in Model)
        {
            <partial name="_Summary" model="podcast" />
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Currently no Podcasts for display.
        </div>

    }
    <div class="row justify-content-end">
        <a asp-action="Create" asp-route-id=" " class="btn btn-primary" asp-controller="Podcasts">Add Podcast</a>
    </div>
</div>

