@model IEnumerable<MyMedia.Models.Playlist.PlayListIndexViewModel>
@using MyMedia.Core.Enums;
@using Microsoft.AspNetCore.Identity;
@using MyMedia.Core.User;
@inject SignInManager<MediaUser> SignInManager
@inject UserManager<MediaUser> UserManager

<div class="container">

    <div class="card-body">
        <h2>Playlists <i class="fas fa-angle-double-right"></i> Overzicht</h2>
        @if (@Model != null && @Model.Any())
        {
            foreach (var playlist in @Model)
            {
                <partial name="_Summary" model="playlist" />
            }
        }
        else
        {
            <div class="alert alert-info" role="alert">
                There are currently no playlists.
            </div>
        }
        <div class="row justify-content-end">
            <a asp-action="Create" class="btn btn-warning" asp-controller="PlayLists">Create PlayList</a>
        </div>

    </div>
</div>

