@model MyMedia.Models.Movie.MovieDeleteViewModel
@using Microsoft.AspNetCore.Identity
@using MyMedia.Core.User;
@inject SignInManager<MediaUser> SignInManager
@inject UserManager<MediaUser> UserManager
<div class="container">
    <h2>Movies <i class="fas fa-angle-double-right"></i>Delete</h2><i class="fas fa-angle-double-right"></i>@Model.Titel
    <hr />
    <div class="row col-4">
        <form enctype="multipart/form-data" asp-controller="Movies" asp-route-id="@Model.Id" asp-action="ConfirmDelete" method="post">

            <b> Weet je zeker dat je <b>@Model.Titel</b> Wilt verwijderen?</b>
            <button class="btn btn-primary" type="submit">Verwijder Movie</button>

        </form>
    </div>
</div>

